---
layout: default
---

<div class="jumbotron jumbotron-people text-light text-center py-5">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-md-9">
        <h1 class="title">
          An inclusive undergraduate CS Theory community at Berkeley
        </h1>
        <a class="btn btn-primary btn-lg" href="{% link get-involved.html %}">Get Involved</a>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col">
      <h2 class="mt-0">About Us</h2>
      <p>Berkeley is one of the cradles of theoretical computer science, a subject of study at the intersection of computer science and mathematics.
        The <code></code><b>U</b>nder<b>g</b>raduate <b>T</b>heory of <b>C</b>omputer <b>S</b>cience (<b>UGTCS</b>) club at Berkeley is a broader community for students of all interests and backgrounds 
        to learn and get involved in this beautiful subject.
      </p>
      <p>Through social events, study groups, talks, seminars, and annual decals, we explore the mathematical foundations of CS as well as its intrinsic connections other studies: economics through computational game theory and mechanism design, physics through random structures and quantum computing, biology, and mathematics.
        We make our events not only educational and enlightening, but also approachable and fun.</p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h2>Offerings</h2>
      Many!
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      <h2>Recent Posts from the UGTCS Blog</h2>
      {% for post in site.posts limit: 1 %}
        {% include post-link.html post=post %}
      {% endfor %}
      <br>
    </div>
  </div>
</div>
