---
layout: page
title: People
---
<h1>People</h1>
<p>Below are our lovely officers and distinguished members. An (incomplete but computable) list of former officers is <a href="../alum.html">here</a>.</p>
<table class="table members-table">
  <tr class="row">
      {% assign exec = site.members | sort: 'order' | where_exp:'member','member.status' %}
      {% for member in exec %}
          <td class="col-sm-4 members-cell">
              <img class="members-image" src="{{ member.img }}">
          <div class="members-name">{{ member.name }}</div>
          <div class="members-role">{{ member.role }}</div>
          <div class="members-email">{{ member.email }}</div>
          <div class="members-description">{{ member.description }}</div>
          </td>
      {% endfor %}
  </tr>
</table>
<h1>Alumni/Former Officers</h1>
<table class="table alumni-table">
  <tr class="row">
      {% assign current = site.members | where_exp:'member','member.status' %}
      {% for member in site.members %}
          {% unless current %}
          <td class="col-sm-4 members-cell">
              <img class="members-image" src="{{ member.img }}">
              <div class="members-name">{{ member.name }}</div>
              <div class="members-role">{{ member.role }}</div>
              <div class="members-email">{{ member.email }}</div>
              <div class="members-description">{{ member.description }}</div>
          </td>
          {% endunless %}
      {% endfor %}
  </tr>
</table>
