<div class="bg-dark footer">
    <footer class="container py-5 text-light">
        <div class="row">
            <div class="col-12 col-md">
                <div class="d-flex align-items-center text-center">
                    <img src="{% link assets/img/logo/ugtcs-logo-dark.png %}" height="50" class="d-inline-block align-top" alt="">
                    <h5 class="font-weight-bold cmu mb-0">UGTCS</h5>
                </div>
                <div class="d-block mb-3 text-small ml-0">&copy; 2018 - {{site.time | date: '%Y'}} </div>
            </div>
            <div class="col-3 col-md text-right">
                <ul class="list-unstyled">
                    <li><a href="https://github.com/ugtcs" class="text-reset">Github</a></li>
                    <li><a href="https://www.facebook.com/ugtcsberkeley/" class="text-reset">Facebook</a></li>
                    <li><a href="https://www.instagram.com/berkeley.ugtcs/" class="text-reset">Instagram</a></li>
                </ul>
            </div>
        </div>
    </footer>
</div>
