  <header>
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Study Groups
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
				<a class="dropdown-item" href="{{ site.baseurl }}/wi20_cc/">Winter 2020 &mdash; Computability and Complexity</a>
				<a class="dropdown-item" href="{{ site.baseurl }}/fa19_agt/">Fall 2019 &mdash; Algorithmic Game Theory</a>
				<a class="dropdown-item" href="{{ site.baseurl }}/fa19_sgt/">Fall 2019 &mdash; Spectral Graph Theory</a>
				<a class="dropdown-item" href="{{ site.baseurl }}/sp19_approx/">Spring 2019 &mdash; Approximation Algorithms</a>
				<a class="dropdown-item" href="{{ site.baseurl }}/sp19_toolkit/">Spring 2019 &mdash; Theorist's Toolkit</a>
				<a class="dropdown-item" href="{{ site.baseurl }}/fa18_bwca/">Fall 2018 &mdash; Beyond Worst Case Analysis</a>
            </div>
          </li>
          <li class="nav-item">
			  <a class="nav-link" href="{{ site.baseurl }}/about/">About</a>
          </li>
        </ul>
      </nav>
    </div>
  </header>
