
<nav class="navbar navbar-expand-lg navbar-light bg-light">

  <div class="container">
    <a class="navbar-brand font-weight-bold navbar-cmu" href="{% link index.html %}">
      <img src="{% link assets/img/logo/ugtcs-logo.png %}" height="30" class="d-inline-block align-top" alt="">
      UGTCS
    </a>
  
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a href="{% link calendar.html %}" class="nav-link">Calendar</a>
        </li>
        <li class="nav-item">
          <a href="{% link reading-groups.html %}" class="nav-link">Reading Groups</a>
        </li>
        <!-- <li class="nav-item">
          <a href="{% link reading-groups.html %}" class="nav-link">Research</a>
        </li> -->
        <li class="nav-item">
          <a href="{% link people.html%}" class="nav-link">People</a>
        </li>
        <li class="nav-item">
          <a href="{% link blog.html %}" class="nav-link">Blog</a>
        </li>
      </ul>

      <a class="btn btn-primary my-sm-0" href="{% link get-involved.html %}">Get Involved</a>
    </div>
  </div>

</nav>
