@import "./vendor/bootstrap.scss";
@import "./vendor/fira-sans.scss";
@import "./vendor/cmu-sans.scss";

html, body {
    font-family: 'Fira Sans', sans-serif;
}

.jumbotron-people {
    background: url('/assets/img/people-gradient.jpg') no-repeat top center;
    background-size: cover;
    border-radius: 0;
}

.cmu {
    font-family: 'Computer Modern Sans', sans-serif;
}

.navbar-brand.navbar-cmu {
    font-family: 'Computer Modern Sans', sans-serif;
    color: #003262;
}

/* Sticky footer! */
$footer-height: 186px;
html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: $footer-height; /* Margin bottom by footer height */
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: $footer-height; /* Set the fixed height of the footer here */
}


/* Calendar CSS */

.calendar {
    float: none;
    margin: 0 auto;
}

/* Social Media Tray CSS */

.social-media-tray {
    display: inline-flex;
}

.social-media-tray ul {
    margin: 0;
    padding-left: 0;
    padding-bottom: 10px
}

.social-media-tray ul li {
    list-style: none;
    float: left;
}

.social-media-tray ul li a {
    display: inline-block;
    font-size: 40px;
    transition: 0.5s;
    color: #aaa;
    margin: 0 10px;
}

.social-media-tray ul li:hover a {
    color: #e91e63;
    transform: rotateY(360deg);
}

/* Organization members table CSS */

.members-table {
    border-collapse: separate !important;
}

.members-cell {
    background-color: #f6f6f6;
    border: 6px solid #FFFFFF !important;
}

.members-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 30px;
    width:200px;
    height:200px;
    border-radius:50%;
}

.members-name {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 700;
    font-size: 20px;
    padding-bottom: 10px;
}

.members-role {
    font-family: 'Noto Sans', sans-serif;
    font-size: 15px;
    padding-bottom: 10px;
}

.members-email {
    font-family: 'Noto Sans', sans-serif;
    font-size: 15px;
    padding-bottom: 10px;
}

.members-description {
    font-family: 'Noto Sans', sans-serif;
    font-size: 13px;
    padding-bottom: 20px;
}

.main-footer {
  padding: 15px 0;
}

.main-footer .copyright {
  text-align: center;
  color: #311e3e;
  font-size: 16px;
}
