@import "./vendor/bootstrap";
@import "./vendor/fira-sans";
@import "./vendor/cmu-sans";

html, body {
    font-family: 'Fira Sans', sans-serif;
}

.jumbotron-people {
    background: url('/assets/img/people-gradient.jpg') no-repeat top center;
    background-size: cover;
    border-radius: 0;
}

.navbar-brand.navbar-cmu {
    font-family: 'Computer Modern Sans', sans-serif;
    color: #003262;
}

hr {
    display: block;
    height: 2px;
    border: 0;
    border-top: 1px solid #aaa;
    border-bottom: 1px solid #eee;
    margin: 1em 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 1.5em;
    margin-bottom: 0.5em;
}

a:hover {
    text-decoration: none;
}

span.ul.li  {
    display: inline-block;
}

/* Calendar CSS */

.calendar {
    float: none;
    margin: 0 auto;
}

/* Social Media Tray CSS */

.social-media-tray {
    display: inline-flex;
}

.social-media-tray ul {
    margin: 0;
    padding-left: 0;
    padding-bottom: 10px
}

.social-media-tray ul li {
    list-style: none;
    float: left;
}

.social-media-tray ul li a {
    display: inline-block;
    font-size: 40px;
    transition: 0.5s;
    color: #aaa;
    margin: 0 10px;
}

.social-media-tray ul li:hover a {
    color: #e91e63;
    transform: rotateY(360deg);
}

/* Organization members table CSS */

.members-table {
    border-collapse: separate !important;
}

.members-cell {
    background-color: #f6f6f6;
    border: 6px solid #FFFFFF !important;
}

.members-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 30px;
    width:200px;
    height:200px;
    border-radius:50%;
}

.members-name {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 700;
    font-size: 20px;
    padding-bottom: 10px;
}

.members-role {
    font-family: 'Noto Sans', sans-serif;
    font-size: 15px;
    padding-bottom: 10px;
}

.members-email {
    font-family: 'Noto Sans', sans-serif;
    font-size: 15px;
    padding-bottom: 10px;
}

.members-description {
    font-family: 'Noto Sans', sans-serif;
    font-size: 13px;
    padding-bottom: 20px;
}

.main-footer {
  padding: 15px 0;
}

.main-footer .copyright {
  text-align: center;
  color: #311e3e;
  font-size: 16px;
}
