<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>UGTCS</title>

		<link type="text/css" rel="stylesheet" href='/assets/css/style.css'>
	</head>

	<body>

		{% include nav.html %}

		{{ content }}

		<footer class="main-footer">
			<div class="copyrith">
				<br>
				<hr>
				<center>
				<p>{{site.time | date: '%Y'}} &copy; {{site.title}} @ Berkeley </p>
				</center>
			</div>
		</footer>

		{% include footer.html %}

	</body>
</html>
