---
layout: default
---

<div class="container">
    <div class="row">
        <div class="col-sm">
            <h1>{% include sem.html sem=page.sem %} &mdash; {{ page.name }}</h1>

            <div class="card mb-3">
                <div class="card-body">
                    {% if page.location %}
                        <p class='card-text mb-0'><strong>Location:</strong> {{page.location | markdownify | remove: '<p>' | remove: '</p>'}} </p>
                    {% endif %}
                    {% if page.time %}
                        <p class='card-text mb-0'><strong>Time:</strong> {{page.time | markdownify | remove: '<p>' | remove: '</p>'}} </p>
                    {% endif %}
                    {% if page.logistics %}
                        <p class='card-text mb-0'><strong>Logistics:</strong> {{page.logistics | markdownify | remove: '<p>' | remove: '</p>'}} </p>
                    {% endif %}
                    {% if page.files %}
                        <p class='card-text mb-0'><strong>Files:</strong> {{page.files | markdownify | remove: '<p>' | remove: '</p>'}} </p>
                    {% endif %}
                </div>
            </div>
            {{ content }}
        </div>
    </div>
</div>
